*.*.swp
*.o
.scon*
*.a
config.log
*.gb
*.gbc
*.exe
Makefile*
*.Debug
*.Release
gambatte_sdl/gambatte_sdl
gambatte_qt/src/moc_*.cpp
gambatte_qt/src/moc_*.h
gambatte_qt/src/release/
gambatte_qt/src/debug/
gambatte_qt/bin/
test/testrunner

*.cpp~
*.h~
*.c~
*.sh~
*.pro~
*.rc~

*.tmp

gambatte_qt/src/gambatte*plugin_import.cpp
gambatte_qt/.qmake.stash
gambatte_qt/src/platforms.pri

.vs/
.vscode/

*.os
*.so
*.dll
*.dylib

.DS_Store
